
iOsmo/.DS_Store
iOsMo.xcodeproj/project.xcworkspace/xcuserdata/alexeysirotkin.xcuserdatad/UserInterfaceState.xcuserstate
iOsMo.xcodeproj/xcuserdata/alexeysirotkin.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
